<div id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Photo App</h1>
    <p class="lead">Travel, live, capture and share the moments!</p>
    <% if user_signed_in? %>
    	<%= link_to("Logout", destroy_user_session_path,
            class: "btn btn-warning btn-lg", method: :delete)%>
    <% else %>
    	<div class="row justify-content-around">
      <div class="col-sm-4 plan">
        <h2>Premium Plan</h2>
        <div class="price">
          Price: $10
        </div>
        <div class="features">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info btn-lg' %>
        </p>
      </div>
      <div class="col-sm-4 plan">
        <h2>Amaze Plan</h2>
        <div class="price">
          Price: $20
        </div>
        <div class="features">
          <ul>
            <li>Unlimited Image Uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='extra'>Unlimited projects</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info btn-lg' %>
        </p>
      </div>
  </div>
    <% end %>
  </div>
</div> 